/* Estilo general para la tabla */
.table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para las filas y celdas de la tabla */
.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo para los encabezados de la tabla */
.table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

/* Estilo para las filas alternas de la tabla */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo para los botones de acción en la tabla */
.table .btn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table .btn-warning {
  background-color: #ffc107;
  color: black;
}

.table .btn-warning:hover {
  background-color: #e0a800;
}

.table .btn-danger {
  background-color: #dc3545;
  color: white;
}

.table .btn-danger:hover {
  background-color: #c82333;
}

/* Estilo para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 14px;
}

.pagination button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 15px;
  font-size: 14px;
}

/* Animación para la tabla */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
