body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .consulta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .consulta-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .consulta-input {
    padding: 10px 40px 10px 15px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .consulta-input:focus {
    border-color: #ffa500;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 15px;
    pointer-events: none;
    color: #aaa;
  }
  
  .responsables-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .responsables-table th,
  .responsables-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .responsables-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #666;
  }
  
  .responsables-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .action-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .edit-button {
    background-color: orange;
    color: black;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .edit-button:hover {
    background-color: orange;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  .no-results {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 20px;
  }
  