.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
}

.carousel-slide {
  text-align: center;
}

.carousel-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}

/* src/Estilos/GlobalStyles.css */



