/* src/components/Responsable/FormResponsable.css */

.form-responsable .form-label {
  text-align: left;
  display: block;
  margin-bottom: .5rem; /* Espacio entre el label y el input */
  font-weight: bold;
}

.form-responsable .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-responsable .form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.75rem + .25rem);
}

.form-responsable .invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
}

.form-responsable .mb-3 {
  margin-bottom: 1rem;
}

/* Estilos para los botones */
.btn-custom {
  display: inline-flex;
  align-items: center;
  font-size: 0.6rem; /* Tamaño del texto más pequeño */
  padding: 0.2rem 0.4rem; /* Padding más pequeño */
  border-radius: 0.15rem; /* Borde redondeado más pequeño */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #fff; /* Color del texto, ajusta según el diseño */
  border-color: yellow;
}

.btn-custom img {
  width: 12px; /* Tamaño del ícono más pequeño */
  height: 12px; /* Tamaño del ícono más pequeño */
}

.btn-custom span {
  margin-left: 0.2rem; /* Espacio entre el ícono y el texto */
}
