.modern-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 40px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.modern-table th,
.modern-table td {
  padding: 12px 15px;
  text-align: center; /* Alineación horizontal al centro */
  vertical-align: middle; /* Alineación vertical al centro */
  border-right: 1px solid #dee2e6;
}

/* Sin borde en la última celda de cada fila */
.modern-table tr td:last-child,
.modern-table tr th:last-child {
  border-right: none;
}

.modern-table th {
  background: linear-gradient(135deg, #ffa500, #ffa500);
  color: white;
  font-weight: bold;
}

.modern-table td {
  background: linear-gradient(135deg, #f5f5f5, #f5f5f5);
}

/* Filas impares y pares con colores alternos */
.modern-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.modern-table tr:nth-child(even) {
  background-color: #e3f2fd;
}

/* Efecto hover */
.modern-table tr:hover {
  background-color: #d1e7dd;
}

/* Estilos para botones */
.btn-custom {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
}

.btn-custom-primary {
  background-color: #28a745;
  border: none;
  color: white;
}

.btn-custom-primary:hover {
  background-color: #218838;
}

.btn-custom-secondary {
  background-color: #dc3545;
  border: none;
  color: white;
}

.btn-custom-secondary:hover {
  background-color: #c82333;
}

.action-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.action-button img {
  display: block;
  margin: auto;
}

.action-button {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.action-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* Bloquea la interacción */
}