.home-container {
    margin-top: 50px;   /* Ajusta según sea necesario */
    margin-bottom: 50px; /* Ajusta según sea necesario */
    margin-left: 50x;   /* Ajusta según sea necesario */
    margin-right: 50px;  /* Ajusta según sea necesario */
  }
  
  .home-image {
    margin-bottom: 40px; /* Ajusta según sea necesario */
  }
  